@model IEnumerable<ContactInformation.Models.Contact>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var contact in Model)
    {
        <li>@contact.FirstName @contact.LastName @contact.EmailId @contact.PhoneNumber @contact.Status</li>
    }
</ul>