@model ContactInformation.ViewModel.ContactFormViewModel
@{
    ViewBag.Title = Model.Heading;
}

<h2>@Model.Heading</h2>

@using (Html.BeginForm(Model.Action, "Contacts"))
{
    <p class="alert alert-info">All fields are <strong>required</strong></p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmailId)
        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EmailId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
    <div class="form-group">

        @Html.RadioButtonFor(m => m.Status, true, new { @class = "radio-inline", id = "1" })
        @Html.LabelFor(m => m.Status, "Active")
        @Html.RadioButtonFor(m => m.Status, false, new { @class = "radio-inline", id = "2" })
        @Html.LabelFor(m => m.Status, "InActive")
    </div>
        <button type="submit" class="btn btn-primary">Save</button>
}
